<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">



        <ui:define name="title">Manage Products</ui:define>
        <ui:define name="breadcrumb">
            <li><p:link href="warehouses.xhtml">Warehouses (#{manageProductsBean.warehousesBO.warehouses.name})</p:link></li>
            <li>/</li>
            <li><p:link>Manage Products</p:link></li>
        </ui:define>
        <ui:define name="content">
            <h:form id="form">

                <p:growl autoUpdate="true" showDetail="true"/>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <p:fragment rendered="#{manageProductsBean.qtyWarehouseProductsBO != null}">
                                <div class="ui-fluid">
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                                            <center> <h2>Warehouse Information</h2></center>
                                        </div>

                                        <div class="ui-g-12 ui-md-2 ui-lg-2">
                                            <p:outputLabel value="Product:" ></p:outputLabel>
                                        </div>
                                        <div class="ui-g-12 ui-md-10 ui-lg-4">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:selectOneMenu id="products" value="#{manageProductsBean.qtyWarehouseProductsBO.warehouseProducts.idProduct}" 
                                                                 disabled="#{manageProductsBean.qtyWarehouseProductsBO.warehouseProducts.idProduct != null}"
                                                                 converter="omnifaces.SelectItemsConverter" 
                                                                 required="#{not empty param[vehic.clientId]}" requiredMessage="Product is a required value">
                                                    <f:selectItem noSelectionOption="true" itemLabel="Product"/>
                                                    <f:selectItems value="#{manageProductsBean.productsBOs}" var="product" itemLabel="#{product.products.name}" 
                                                                   itemValue="#{product.products}"/>
                                                </p:selectOneMenu>
                                            </h:panelGroup>
                                        </div>
                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText id="max" 
                                                             required="#{not empty param[vehic.clientId]}" requiredMessage="Max is a required value"
                                                             value="#{manageProductsBean.qtyWarehouseProductsBO.warehouseProducts.maxProduct}" maxlength="120"
                                                             />
                                                <label>Max. product</label>
                                                <p:message for="max"/>
                                            </h:panelGroup>
                                        </div>
                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText id="min" 
                                                             required="#{not empty param[vehic.clientId]}" requiredMessage="Min is a required value"
                                                             value="#{manageProductsBean.qtyWarehouseProductsBO.warehouseProducts.minProduct}" maxlength="120"
                                                             />
                                                <label>Min. Product</label>
                                                <p:message for="min"/>
                                            </h:panelGroup>
                                        </div>


                                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                                            <div class="ui-g-6 ui-md-6 ui-lg-8"/>
                                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                                <p:commandButton value="Back" 
                                                                 actionListener="#{manageProductsBean.cancelar()}"
                                                                 immediate="true"
                                                                 update="form"
                                                                 icon="fa fa-reply"/>
                                            </div>
                                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                                <p:commandButton value="Save" 
                                                                 action="#{manageProductsBean.guardar()}"
                                                                 update="form" binding="#{vehic}"
                                                                 icon="fa fa-floppy-o"/>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div> 
                                </div>
                            </p:fragment>
                        </div>


                        <p:fragment rendered="#{manageProductsBean.qtyWarehouseProductsBO == null}">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <div class="card">
                                    <p:dataTable id="table" 
                                                 value="#{manageProductsBean.list}" var="m" paginator="true"
                                                 rows="10"
                                                 reflow="true" 
                                                 paginatorPosition="bottom">
                                        <f:facet name="header">
                                            Warehouses Products
                                        </f:facet>
                                        <p:column headerText="Name" width="20">
                                            <p:outputLabel value="#{m.warehouseProducts.idProduct.name}"/>
                                        </p:column>                                

                                        <p:column headerText="Actions" width="10" exportable="false">
                                            <center>
                                                <p:commandLink 
                                                    id="editar" 
                                                    action="#{manageProductsBean.editar(m)}"  
                                                    title="Edit"
                                                    update="form">
                                                    <i class="fa fa-pencil"></i>
                                                </p:commandLink>
                                                <p:commandLink id="eliminar" 
                                                               action="#{manageProductsBean.eliminar(m)}"  
                                                               title="Delete"
                                                               update="form">
                                                    <i class="fa fa-trash"></i>
                                                    <p:confirm header="Confirmation Dialog" message="¿Do you want to delete this record?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                </p:confirmDialog>
                                            </center>
                                        </p:column>
                                    </p:dataTable> 


                                </div>
                                <div class="ui-g-6 ui-md-9 ui-lg-10"/>
                                <div class="ui-g-6 ui-md-3 ui-lg-2">
                                    <p:commandButton value="Add" 
                                                     action="#{manageProductsBean.nuevo()}"
                                                     update="form" 
                                                     icon="fa fa-plus"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </p:fragment>

                    </div>  
                </div> 

            </h:form>
        </ui:define>
    </ui:composition>
</xhtml>
