<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<xhtml xmlns="http://www.w3.org/1999/xhtml"
       xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:p="http://primefaces.org/ui"
       xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/WEB-INF/template.xhtml">



        <ui:define name="title">Products</ui:define>
        <ui:define name="breadcrumb">
            <li><p:link>Products</p:link></li>
        </ui:define>
        <ui:define name="content">
            <h:form id="form">

                <p:growl autoUpdate="true" showDetail="true"/>
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <p:fragment rendered="#{productsBean.productsBO != null}">
                                <div class="ui-fluid">
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                                            <center> <h2>#{productsBean.productsBO.products.id eq null?"New Product":"Product Information"}</h2></center>
                                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                                <h:panelGroup styleClass="md-inputfield">
                                                    <p:inputText id="name" 
                                                                 required="#{not empty param[vehic.clientId]}" requiredMessage="Name is a required value"
                                                                 value="#{productsBean.productsBO.products.name}" maxlength="120"
                                                                 />
                                                    <label>Name</label>
                                                    <p:message for="name"/>
                                                </h:panelGroup>
                                            </div>

                                            <div class="clearfix"/>
                                        </div>
                                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                                            <div class="ui-g-6 ui-md-6 ui-lg-8"/>
                                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                                <p:commandButton value="Back" 
                                                                 actionListener="#{productsBean.cancelar()}"
                                                                 immediate="true"
                                                                 update="form"
                                                                 icon="fa fa-reply"/>
                                            </div>
                                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                                <p:commandButton value="Save" 
                                                                 action="#{productsBean.guardar()}"
                                                                 update="form" binding="#{vehic}"
                                                                 icon="fa fa-floppy-o"/>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div> 
                                </div>
                            </p:fragment>
                        </div>


                        <p:fragment rendered="#{productsBean.productsBO == null}">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <div class="card">
                                    <p:dataTable id="table" 
                                                 value="#{productsBean.list}" var="m" paginator="true"
                                                 rows="10"
                                                 reflow="true" 
                                                 paginatorPosition="bottom">
                                        <f:facet name="header">
                                            Products
                                        </f:facet>
                                        <p:column headerText="Name" width="20">
                                            <p:outputLabel value="#{m.products.name}"/>
                                        </p:column>                                

                                        <p:column headerText="Actions" width="10" exportable="false">
                                            <center>
                                                <p:commandLink id="editar" 
                                                               action="#{productsBean.editar(m)}"  
                                                               title="Edit"
                                                               update="form">
                                                    <i class="fa fa-pencil"></i>
                                                </p:commandLink>
                                                <p:commandLink id="eliminar" 
                                                               action="#{productsBean.eliminar(m)}"  
                                                               title="Delete"
                                                               update="form">
                                                    <i class="fa fa-trash"></i>
                                                    <p:confirm header="Confirmation Dialog" message="¿Do you want to delete this record?" icon="ui-icon-alert" />
                                                </p:commandLink>
                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                                </p:confirmDialog>
                                            </center>
                                        </p:column>
                                    </p:dataTable> 


                                </div>
                                <div class="ui-g-6 ui-md-9 ui-lg-10"/>
                                <div class="ui-g-6 ui-md-3 ui-lg-2">
                                    <p:commandButton value="New" 
                                                     action="#{productsBean.nuevo()}"
                                                     update="form" 
                                                     icon="fa fa-plus"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </p:fragment>

                    </div>  
                </div> 

            </h:form>
        </ui:define>
    </ui:composition>
</xhtml>
