<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">Inventory</ui:define>

    <ui:define name="breadcrumb">
        <li><p:link>Inventory</p:link></li>
    </ui:define>

    <ui:define name="content">
        <h:form id="form">

            <p:growl autoUpdate="true" showDetail="true"/>
            <div class="ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <!--<p:fragment rendered="#{qtyWarehouseProductsBean.qtyWarehouseProductsBO != null}">-->
                        <pe:spotlight rendered="#{qtyWarehouseProductsBean.qtyWarehouseProductsBO != null}">
                            <div class="ui-fluid">
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <center> <h2>#{qtyWarehouseProductsBean.qtyWarehouseProductsBO.warehouseProducts.id eq null?"New Product":"Product Information"}</h2></center>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <p:fragment rendered="#{qtyWarehouseProductsBean.addToStock != null}">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText id="add" 
                                                             required="#{not empty param[vehic.clientId]}" requiredMessage="Sttock qty is a required value"
                                                             value="#{qtyWarehouseProductsBean.addToStock}" maxlength="120"
                                                             />
                                                <label>Add to Stock</label>
                                                <p:message for="add"/>
                                            </h:panelGroup>
                                        </p:fragment>
                                    </div>

                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <p:fragment rendered="#{qtyWarehouseProductsBean.addToSold != null}">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText id="sell" 
                                                             required="#{not empty param[vehic.clientId]}" requiredMessage="Sell qty is a required value"
                                                             value="#{qtyWarehouseProductsBean.addToSold}" maxlength="120"
                                                             />
                                                <label>Sell product</label>
                                                <p:message for="sell"/>
                                            </h:panelGroup>
                                        </p:fragment>
                                    </div>

                                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                                        <div class="ui-g-6 ui-md-6 ui-lg-8"/>
                                        <div class="ui-g-6 ui-md-3 ui-lg-2">
                                            <p:commandButton value="Cancel" 
                                                             actionListener="#{qtyWarehouseProductsBean.cancelar()}"
                                                             immediate="true"
                                                             update="form"
                                                             icon="fa fa-reply"/>
                                        </div>
                                        <div class="ui-g-6 ui-md-3 ui-lg-2">
                                            <p:commandButton value="Save" 
                                                             action="#{qtyWarehouseProductsBean.guardar()}"
                                                             update="form" binding="#{vehic}"
                                                             icon="fa fa-floppy-o"/>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>

                                </div> 
                            </div>
                        </pe:spotlight>
                        <!--</p:fragment>-->
                        <div class="clearfix"></div>
                    </div>


                    <p:fragment>
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <div class="card">
                                <style>
                                    .red_background{
                                        background: red;
                                    }
                                    .green_background{
                                        background: green;
                                    }
                                    .yellow_background{
                                        background: yellow;
                                    }
                                </style>
                                <p:dataTable id="table" 
                                             value="#{qtyWarehouseProductsBean.list}" var="m" paginator="true"
                                             rows="10"
                                             reflow="true" 
                                             paginatorPosition="bottom">
                                    <f:facet name="header">
                                        Inventory
                                    </f:facet>
                                    <p:column headerText="Product name" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.idProduct.name}"/>
                                    </p:column>  
                                    <p:column headerText="Min. Product" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.minProduct}"/>
                                    </p:column> 
                                    <p:column headerText="Max. Prooduct" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.maxProduct}"/>
                                    </p:column> 
                                    <p:column
                                        styleClass="#{m.styleClass}"
                                        headerText="On stock" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.stock}"/>
                                    </p:column> 
                                    <p:column headerText="Sold" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.sold}"/>
                                    </p:column>  

                                    <p:column  headerText="Total" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.sold + m.warehouseProducts.stock}"/>
                                    </p:column>   
                                    <p:column  headerText="Warehouse" width="20">
                                        <p:outputLabel value="#{m.warehouseProducts.idWarehouse.name}"/>
                                    </p:column>   


                                    <p:column headerText="Actions" width="10" exportable="false">
                                        <center>
                                            <p:commandLink id="add" 
                                                           action="#{qtyWarehouseProductsBean.viewAddToStock(m)}"  
                                                           title="Add to stock"
                                                           update="form">
                                                <i class="fa fa-plus"></i>
                                            </p:commandLink>
                                            <p:commandLink id="sell" 
                                                           action="#{qtyWarehouseProductsBean.viewAddToSold(m)}"  
                                                           title="Sell products"
                                                           update="form">
                                                <i class="fa fa-money"></i>
                                            </p:commandLink>
                                        </center>
                                    </p:column>
                                </p:dataTable> 


                            </div>
                        </div>

                    </p:fragment>

                </div>  
            </div> 

        </h:form>



    </ui:define>

</ui:composition>