<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/serenity">

    <div class="layout-topbar">
        <p:graphicImage name="images/logo-slim.png" library="serenity-layout" styleClass="mobile-logo" />

        <a href="#" class="menu-btn">
            <i class="material-icons">&#xE5D2;</i>
        </a>

        <a href="#" class="topbar-menu-btn">
            <i class="material-icons">&#xE853;</i>
        </a>

        <div class="layout-topbar-menu-wrapper">            
        </div>
    </div>

</ui:composition>